<div class="pdf-pages__investment-program-need-financing">

    <h1>6. Инвестиционная программа. <span class="page-title-details">Потребность в финансировании</span></h1>

    <div class="investment-program-need-financing">

        <table class="investment-program-table-need-financing">
            <tr>
                <td>Статья инвестиций</td>
                <td>Всего затрат, тыс. руб.</td>
                <td>Доля, %</td>
            </tr>
            <tr>
                <td>Капитальные затраты - всего, в том числе:</td>
                <td>15 404.1</td>
                <td></td>
            </tr>
            <tr>
                <td>Строительство</td>
                <td></td>
                <td><!--@TODO-->!!!</td>
            </tr>
            <tr>
                <td>Приобретение оборудования и инвентаря</td>
                <td>15 404.1<!--@TODO-->!!!</td>
                <td><!--@TODO-->!!!</td>
            </tr>
            <tr>
                <td>Первоначальный оборотный капитал - всего, в том числе:</td>
                <td><!--@TODO-->!!!</td>
                <td><!--@TODO-->!!!</td>
            </tr>
            <tr>
                <td>Товарные запасы</td>
                <td><!--@TODO-->!!!</td>
                <td><!--@TODO-->!!!</td>
            </tr>
            <tr>
                <td>Ремонт и перепланировка</td>
                <td><!--@TODO-->!!!</td>
                <td><!--@TODO-->!!!</td>
            </tr>
            <tr>
                <td>Документация</td>
                <td><!--@TODO-->!!!</td>
                <td><!--@TODO-->!!!</td>
            </tr>
            <tr>
                <td>Прочее (резерв)</td>
                <td><!--@TODO-->!!!</td>
                <td><!--@TODO-->!!!</td>
            </tr>
            <tr>
                <td><span>Итого</span></td>
                <td><!--@TODO-->!!!</td>
                <td>100</td>
            </tr>
        </table>

    </div>

    <p class="footer-label">Федеральная корпорация по развитию малого и среднего
        предпринимательства</p>
    <p class="footer-label page-number">№</p>

</div>