<div class="pdf-pages__market-analysis-swot">

    <h1>2. Анализ рынка. <span class="page-title-details">SWOT-анализ</span></h1>

    <div class="market-analysis-swot">

        <table class="market-analysis-table-swot">
            <tr>
                <td>Отметьте</td>
                <td>Ваши сильные стороны</td>
                <td>Ваши слабые стороны</td>
            </tr>
            <tr>
                <td>Наличие у Вас опыта организации бизнеса</td>
                <td><p>Да</p></td>
                <td><p>Нет</p></td>
            </tr>
            <tr>
                <td>Использование отработанных бизнес-процессов или франшизы</td>
                <td><p>Да</p></td>
                <td><p>Нет</p></td>
            </tr>
            <tr>
                <td>Привлечение квалифицированного персонала</td>
                <td><p>Да</p></td>
                <td><p>Нет</p></td>
            </tr>
            <tr>
                <td>Административная поддержка Вашего бизнеса</td>
                <td><p>Да</p></td>
                <td><p>Нет</p></td>
            </tr>
            <tr>
                <td>Использование известного бренда или франшизы</td>
                <td><p>Да</p></td>
                <td><p>Нет</p></td>
            </tr>
            <tr>
                <td>Использование заемных средств</td>
                <td><p>Нет</p></td>
                <td><p>Да</p></td>
            </tr>
            <tr>
                <td>Зависимость бизнеса от поставщиков сырья</td>
                <td><p>Нет</p></td>
                <td><p>Да</p></td>
            </tr>
            <tr>
                <td>Помещение под бизнес в аренде</td>
                <td><p>Нет</p></td>
                <td><p>Да</p></td>
            </tr>
        </table>

        <table class="market-analysis-table-swot">
            <tr>
                <td>Отметьте</td>
                <td>Рыночные возможности</td>
                <td>Рыночные угрозы</td>
            </tr>
            <tr>
                <td>Низкий уровень конкуренции</td>
                <td><p>Да</p></td>
                <td><p>Нет</p></td>
            </tr>
            <tr>
                <td>Рост потока клиентов в перспективе (новое строительство)</td>
                <td><p>Да</p></td>
                <td><p>Нет</p></td>
            </tr>
            <tr>
                <td>Наличие муниципальной программы поддержки</td>
                <td><p>Да</p></td>
                <td><p>Нет</p></td>
            </tr>
            <tr>
                <td>Планируется появление новых поставщиков</td>
                <td><p>Да</p></td>
                <td><p>Нет</p></td>
            </tr>
            <tr>
                <td>Появление новых конкурентов</td>
                <td><p>Да</p></td>
                <td><p>Нет</p></td>
            </tr>
            <tr>
                <td>Снижение платёжеспособности потребителей</td>
                <td><p>Не ожидается</p></td>
                <td><p>Ожидается</p></td>
            </tr>
            <tr>
                <td>Ужесточение государственного регулирования</td>
                <td><p>Не ожидается</p></td>
                <td><p>Ожидается</p></td>
            </tr>
            <tr>
                <td>Рост стоимости сырья</td>
                <td><p>Не ожидается</p></td>
                <td><p>Ожидается</p></td>
            </tr>
        </table>

    </div>

    <p class="footer-label">Федеральная корпорация по развитию малого и среднего
        предпринимательства</p>
    <p class="footer-label page-number">№</p>

</div>