<div class="pdf-pages__marketing-plan-product-location-price-advancement">
    <h1>
        4. Маркетинговый план.
        <span class="page-title-details">
           Продукт, местоположение, цена, продвижение
        </span>
    </h1>

    <div class="marketing-plan-product-location-price-advancement">
        <div class="marketing-plan-product">
            <h2>Продукт</h2>
            <table class="marketing-plan-table-product">
                <tr>
                    <td>Концепция</td>
                    <td>МАЗК</td>
                </tr>
                <tr>
                    <td>Формат</td>
                    <td>6 ТРК</td>
                </tr>
                <tr>
                    <td>Площадь обслуживания</td>
                    <td>145 м<sup>2</sup></td>
                </tr>
                <tr>
                    <td> Ассортимент</td>
                    <td>Автомобильное топливо, Прилавок с нетопливными товарами</td>
                </tr>
            </table>
        </div>
        <div class="marketing-plan-location">
            <h2>Местоположение</h2>
            <table class="marketing-plan-table-location">
                <tr>
                    <td>Регион</td>
                    <td>Смоленская область</td>
                </tr>
                <tr>
                    <td>Трасса</td>
                    <td>&quot;Беларусь&quot; Москва - граница с Республикой Белоруссия</td>
                </tr>
                <tr>
                    <td>Учетный номер трассы</td>
                    <td>М1</td>
                </tr>
                <tr>
                    <td>Сторона</td>
                    <td>слева</td>
                </tr>
                <tr>
                    <td>Километр:</td>
                    <td>324</td>
                </tr>
                <tr>
                    <td>Характер размещения:</td>
                    <td> -</td>
                </tr>
            </table>
        </div>


        <div class="marketing-plan-price">
            <h2>Цена</h2>
            <table class="marketing-plan-table-price">

                <tr>
                    <td>Сопутствующие товары для автомобилистов (моторное масло)</td>
                    <td>670 руб.</td>
                </tr>

                <tr>
                    <td>Сопутствующие товары для автомобилистов (незамерзайка)</td>
                    <td>191 руб.</td>
                </tr>

                <tr>
                    <td>Пропан</td>
                    <td>17 руб.</td>
                </tr>

                <tr>
                    <td>Дизель+</td>
                    <td>37 руб.</td>
                </tr>

                <tr>
                    <td>АИ-95+</td>
                    <td>39 руб.</td>
                </tr>

                <tr>
                    <td>Дизель</td>
                    <td>36 руб.</td>
                </tr>

                <tr>
                    <td>АИ-98</td>
                    <td>41 руб.</td>
                </tr>

                <tr>
                    <td>АИ-95</td>
                    <td>38 руб.</td>
                </tr>

                <tr>
                    <td>АИ-92</td>
                    <td>35 руб.</td>
                </tr>

            </table>
        </div>

        <div class="marketing-plan-advancement">
            <h2>Продвижение</h2>
            <table class="marketing-plan-table-advancement">
                <tr>
                    <td>Бюджет</td>
                    <td>26-34 млн.</td>
                </tr>
                <tr>
                    <td>Канал</td>
                    <td> Дорожный знак<br> Стела<br> Штендер<br> Пилон<br> Постер<br></td>
                </tr>
            </table>
        </div>
    </div>


    <p class="footer-label">Федеральная корпорация по развитию малого и среднего
        предпринимательства</p>
    <p class="footer-label page-number">№</p>

</div>