<div class="pdf-pages__potential-suppliers">

    <h1>7. Потенциальные поставщики</h1>

    <div class="potential-suppliers">
        <p><strong>Потенциальные поставщики товаров, сырья, материалов:</strong></p>
        <table class="potential-suppliers-table">
            <tr>
                <td>Наименование</td>
                <td>Товарная группа</td>
                <td>Адрес</td>
                <td>Контакты</td>
            </tr>

            <tr>
                <td>Евро Паркинг Смоленск, ООО, торговая компания</td>
                <td>Нефтепродукты / ГСМ / Газ</td>
                <td>Смоленск, Большая Краснофлотская, 65 </td>
                <td>9156504225 <br>smolensk@euro-parking.ru</td>
            </tr>

            <tr>
                <td colspan="4" style="font-weight: normal">В таблице справочно указаны крупнейшие потенциальные
                    поставщики по основным товарным группам. Перечень потенциальных поставщиков не ограничивается
                    указанными компаниями.
                </td>
            </tr>
        </table>
    </div>

    <p class="footer-label">Федеральная корпорация по развитию малого и среднего
        предпринимательства</p>
    <p class="footer-label page-number">№</p>

</div>