<div class="pdf-pages__summary-concept-incomes">

    <h1>
        1. Резюме.
        <span class="page-title-details">
                Концепция, доходы
            </span>
    </h1>

    <div class="summary-block-concept">
        <h2>Концепция</h2>
        <table class="summary-table-new">
            <tr>
                <td>Суть проекта:</td>
                <td>АЗС</td>
            </tr>
            <tr>
                <td>Ценовая ниша:</td>
                <td>Массовая</td>
            </tr>
            <tr>
                <td>Ассортимент:</td>
                <td>Продажа автомобильного топлива (бензин, ДТ), продажа сопутствующих товаров, общественное питание
                </td>
            </tr>
            <tr>
                <td>Режим работы:</td>
                <td>c 0-00 до 24-00, 7 дней в неделю</td>
            </tr>
            <tr>
                <td>Бизнес-модель:</td>
                <td>Высокий оборот</td>
            </tr>
            <tr>
                <td>Ключевой фактор успеха:</td>
                <td>Доверие покупателей</td>
            </tr>
        </table>
    </div>

    <div class="summary-block-incomes">
        <h2>Доходы</h2>
        <p><strong>Рентабельность продаж</strong> 11.6%</p>
        <p><strong>Динамика доходов:</strong></p>
        <div id="summary-chart-wrapper">
            <canvas width="1500" height="580" id="summary_new"></canvas>
        </div>
        <div class="summary-chart-subtext">
            <p>!</p>
            <p>
                Бизнес-план рассчитан без привлечения заемных средств. В случае использования кредита доходность бизнеса
                уменьшится.
            </p>
        </div>
    </div>

    <p class="footer-label">Федеральная корпорация по развитию малого и среднего предпринимательства</p>
    <p class="footer-label page-number">№</p>

</div>