<div class="pdf-pages__summary-location-investments-personnel">
    <h1>
        1. Резюме.
        <span class="page-title-details">
                Местоположение, инвестиции, персонал
            </span>
    </h1>
    <div class="summary-location-investments-personnel">
        <div class="summary-location">
            <h2>Местоположение</h2>
            <table class="summary-table-location">
                <tbody>
                <tr>
                    <td>Регион</td>
                    <td>Смоленская область</td>
                </tr>
                <tr>
                    <td>Трасса</td>
                    <td>"Беларусь" Москва - граница с Республикой Белоруссия</td>
                </tr>
                <tr>
                    <td>Номер трассы</td>
                    <td>М1</td>
                </tr>
                <tr>
                    <td>Сторона трассы (от начальной точки движения, указанной в названии трассы)</td>
                    <td>справа</td>
                </tr>
                <tr>
                    <td>Километр</td>
                    <td>324</td>
                </tr>
                <tr>
                    <td>Характер размещения</td>
                    <td> -</td>
                </tr>
                <tr>
                    <td>Управляющая организация</td>
                    <td>Государственная компания "Российские автомобильные дороги"</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="summary-investments">
            <h2>Инвестиции</h2>
            <table class="summary-table-investments">
                <tbody>
                <tr>
                    <td>Объем вложений, тыс. руб</td>
                    <td>116&nbsp;729.13</td>
                </tr>
                <tr>
                    <td>Срок окупаемости, мес</td>
                    <td>41</td>
                </tr>
                <tr>
                    <td>Рентабельность инвестиций за 15 лет, %</td>
                    <td>758.74</td>
                </tr>
                <tr>
                    <td>Срок окупаемости, мес</td>
                    <td>41</td>
                </tr>
                <tr>
                    <td>Рентабельность инвестиций за 15 лет, %</td>
                    <td>758.74</td>
                </tr>
                <tr>
                    <td>Срок окупаемости, мес</td>
                    <td>41</td>
                </tr>
                <tr>
                    <td>Рентабельность инвестиций за 15 лет, %</td>
                    <td>758.74</td>
                </tr>
                <tr>
                    <td>Чистый денежный доход за 15 лет, тыс. руб</td>
                    <td>445&nbsp;915</td>
                </tr>
                <tr>
                    <td>Внутренняя норма доходности, %</td>
                    <td>54</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="summary-personnel">
            <h2>Персонал</h2>
            <table class="summary-table-personnel">
                <tbody>
                <tr>
                    <td>Должность в штатном расписании</td>
                    <td>Количество, ставок</td>
                </tr>


                <tr>
                    <td>Совладельцы-руководители</td>
                    <td>0.5</td>
                </tr>

                <tr>
                    <td>Продавцы-кассиры</td>
                    <td>6.0</td>
                </tr>

                <tr>
                    <td>Продавцы-кассиры</td>
                    <td>6.0</td>
                </tr>

                <tr>
                    <td>Заправщики</td>
                    <td>5.0</td>
                </tr>

                <tr>
                    <td>Помощник по кухне</td>
                    <td>1.0</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <p class="footer-label">Федеральная корпорация по развитию малого и среднего
        предпринимательства</p>
    <p class="footer-label page-number">№</p>
</div>