/*----------------------------------------STAFF----------------------------------------*/

.staff {
  @include oneBlockLine(auto);
  span {
    text-transform: uppercase;
  }
  .staff-table {
    @extend %pageBlockTable;
    @extend %tableExtended;
    &:first-of-type {
      margin-bottom: $n;
      width: auto;
    }
    &:last-of-type {
      width: 100%;
    }
    tr {
      &:last-child {
        font-weight: bold;
        background: $lightGrey;
      }
    }
    td {
      &:first-child {
        width: 369px;
      }
      &:nth-child(2) {
        width: 130px;
      }
      &:nth-child(3) {
        width: 146px;
      }
    }
  }
}

