/*--------------------------------------IMPORTS--------------------------------------*/

@import "sass/var-mixins";

@import "sass/title";
@import "sass/contents";

/*-----------------1. Резюме------------------------------------*/
@import "sass/summary-concept-incomes";
@import "sass/summary-location-investments-personnel";
@import "sass/summary-authorization-documents";
@import "sass/summary-schedule-activities";

/*-----------------2. Анализ рынка------------------------------*/
@import "sass/market-analysis-demand-services";
@import "sass/market-analysis-competitive-environment";
@import "sass/market-analysis-swot";

/*-----------------3. Маркетинговая стратеги--------------------*/
@import "sass/marketing-strategy-targeted-market-segment-positioning";

/*-----------------4. Маркетинговый план------------------------*/
@import "sass/marketing-plan-product-location-price-advancement";

/*-----------------5. План продаж------------------------------*/
@import "sass/sales-plan-schedule";
@import "sass/sales-plan-seasonality-demand";

/*-----------------6. Инвестиционная программа-----------------*/
@import "sass/investment-program-need-financing";
@import "sass/investment-program-financing-schedule";

/*-----------------7. Потенциальные поставщики-----------------*/
@import "sass/potential-suppliers";

/*-----------------8. Персонал---------------------------------*/
@import "sass/staff";

/*-----------------9. Операционные расходы---------------------*/
@import "sass/operating-expenses";

/*-----------------10. Финансовый план------------------------*/
@import "sass/financial-plan-first-year";
@import "sass/financial-plan-second-year";
@import "sass/financial-plan-first-fifteenth-year";

/*-----------------11. Оценка рисков--------------------------*/
@import "sass/risk-assessment";

/*-----------------12. Список документов ---------------------*/
@import "sass/documents-list";

@import "sass/final";

/*--------------------------------------MAIN--------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: $n Arial, sans-serif;
  color: $mainColor;
  line-height: 1.2em;
}

.pdf-pages {
  > div {
    position: relative;
    margin: 0 auto;
    width: $mainWidth;
    height: $mainHeight;
    overflow: auto;
    padding: 0  2*$n;
    background: $mainBackground;
    > h1 {
      font-size: 1.8em;
      height: 4*$n;
      padding: {
        left: $n;
        top: 1.4*$n;
      }
      margin: $n 0;
      background: $titleBackground;
    }
  }
}

.page-title-continue {
  font-weight: normal;
}

.page-title-details {
  color: $white;
}


.footer-label {
  white-space: nowrap;
  position: absolute;
  bottom: 0.8*$n;
  color: $darkGrey;
  font-size: 0.8em;
  font-weight: bold;
  &:first-of-type {
    left: 2*$n;
  }
  &:last-of-type {
    right: 2*$n;
  }
}

.wide-width {
  width: 100%;
  table {
    margin-top: $n + 3px;
  }
}

.water-mark {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform:  uppercase;
  position: absolute;
  font-size: 6em;
  color: rgba(146, 146, 146, 0.2);
}

.water-mark > div {
  white-space: nowrap;
  transform: rotate(45deg);
}